@font-face {
    font-family: iranyekan;
    src: url(../fonts/IRANYekanWeb.eot);
    src: url(../fonts/IRANYekanWeb.ttf);
    src: url(../fonts/IRANYekanWeb.woff);
    src: url(../fonts/IRANYekanWeb.woff2);
}